.editzone {
    min-height: 70px;
}

/*
.navbar-editzone {
    border: 1px solid red;
}

.header-editzone {
    border: 1px solid red;

}

.content-editzone {
    border: 1px solid red;

}

.footer-editzone {
    border: 1px solid red;
}
*/